Days/Day 12.py
Days/Day 1.py
Days/Day 2.py
Days/Day 3.py
Days/Day 4.py
Days/Day 5.py
Days/Day 6.py
Days/Day 7.py
Days/Day 8.py
Days/Day 9.py
Days/stages.py
Days/word_list.py
.idea/workspace.xml
Projects/art.py
Days/Day 13.py
Days/maths.py
Days/Day 14.py
.idea/workspace.xml
